@tailwind base;
@tailwind components;
@tailwind utilities;

body,
main,
html {
  width: 100%;
  height: 100%;
}

h1 {
  @apply lg:text-7xl text-5xl;
}

h2 {
  @apply lg:text-6xl text-4xl;
}

h3 {
  @apply lg:text-4xl text-3xl;
}

h4 {
  @apply lg:text-2xl text-xl;
}

h5 {
  @apply lg:text-lg text-base;
}

h6 {
  @apply lg:text-base text-sm;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold;
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.disable-scroll {
  @apply touch-none;
}
